*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* MAIN */
main{
    background-color: rgba(20, 25, 34, 255);
    height: calc(100vh - 90px);
    display: flex;
}

#sidebar{
    width: 220px;
    background-color: rgb(0, 0, 0);
}

#logo{
    height: 50px;
    padding-top: 15px;
    padding-left: 10px;
    text-align: left;
}

.LOGO-SPOTIFY{
    width: 110px;
}

.menù{
    height: 100px;
    width: 150px;
    margin: 30px 0px 20px 0px;
}

.container-icn{
    padding: 0px 0px 10px 15px;
    color: rgba(145, 145, 145, 0.859);
}

.container-b-left-green{
    padding: 0px 0px 10px 12px;
    color: rgba(255, 255, 255, 0.889);
    border-left: 3px solid greenyellow;
    height: 30px;
    margin-bottom: 10px;
}

.icn-menù{
    margin-right: 3px;
}

.icn{
    font-size: 22px;
}

.img-library{
    display: inline-block;
    height: 25px;
}

.text-icn{
    font-size: 15px;
}

.menù-playlist{
    width: 150px;
    padding: 10px 0px 0px 15px;
}

.title-playlist{
    color: rgba(255, 255, 255, 0.889);
    font-size: 15px;
}

.name-playlist{
    color: rgba(145, 145, 145, 0.859);
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 15px;
}

.name-playlist-icn{
    display: flex;
    margin-top: 8px;
}

.icn-playlist{
    font-size: 35px;
    color: rgb(186, 186, 186);
}

.icn-text-playlist{
    margin-left: 10px;
    margin-top: 10px;
}

.information{
    padding-top: 115px;
    margin-left: 15px;
}

#installa-app{
    height: 20px;
    width: 170px;
    border-bottom: 1px solid rgba(145, 145, 145, 0.859);
    margin-bottom: 10px;
    padding-bottom: 25px;
    padding-left: 4px;
    font-size: 15px;
    color: rgba(145, 145, 145, 0.859);
}

#account{
    height: 40px;
    width: 170px;
    font-size: 18px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.889);;
}

.ml-5{
    margin-left: 5px;
}

#content{
    width: calc(100% - 220px);
    overflow-y: scroll;
}

.choices{
    width: 100%;
    text-align: center;
    font-size: x-small;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    color: rgba(145, 145, 145, 0.859);
}

.line-choices{
    color: greenyellow;
    height: 1px;
    width: 25px;
    margin-left: 20px;
    
}

.title{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.title-account{
    margin-top: 100px;
}

.text-grey{
    width: 100%;
    margin-top: 10px;
    font-size: 15px;
    font-weight: lighter;
    color: rgba(145, 145, 145, 0.859);
}

.first-row{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-left: 20px;
}

.col{
    width: 180px;
    margin-top: 15px;
    position: relative;
}

.col-play{
    position: absolute;
    bottom: 152px;
    right: 45px;
    opacity: 0;
    font-size: 40px;
}

.img-col{
    width: 100%;
}

.second-row{
    display: flex;
    gap: 20px;
    margin-left: 20px;
}

.col-2{
    width: 180px;
    margin-top: 15px;
}

.third-row{
    display: flex;
    gap: 20px;
    margin-left: 20px;
}

.col-3{
    width: 180px;
    margin-top: 15px;
    border-radius: 50%;
}

.img-col3{
    border-radius: 50%;
}

.title-music{
    color: white;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.subtitle-music{
    color: rgba(145, 145, 145, 0.859);
    text-align: center;
    font-size: x-small;
}

/* HEADER */
header{
    position: sticky;
    height: 90px;
    background-color: rgb(8, 11, 18,255);
    top: 0;
    text-align: end;
    z-index: 1;
}

.button{
    padding: 10px;
    display: inline-block;
    border: 1px solid white;
    color: white;
    font-size: small;
    text-align: center;
    width: 210px;
    border-radius: 20px;
    margin: 25px 0px 25px 0px;
}

/* FOOTER */
footer{
    background-color: rgb(40, 40, 40, 255);
    height: 90px;
    position: sticky;
}

.footer-row{
    display: flex;
    gap: 20px;
}

.col-footer{
    width: calc(100% / 3);
    height: 80px;
    margin: 5px 0px 5px 0px;
}

.col-footer-start{
    display: flex;
}

.col-footer-end{
    display: flex;
    justify-content: end;
    padding-top: 30px;
    padding-right: 15px;
}

.music-footer{
    padding: 10px 0px 10px 10px;
}

.img-footer{
    width: 50px;
}

.title-subtitle-footer{
    float: left;
    padding: 20px 0px 20px 10px;;
}

.title-music-footer{
    color: white;
    padding-left: 4px;
}

.icn-footer{
    padding-top: 30px;
    padding-left: 30px;
    color: rgba(145, 145, 145, 0.859);
}

.fa-heart{
    margin-right: 10px;
}

.music-play{
    color: rgba(255, 255, 255, 0.889);
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 5px;
    
}

.fa-circle-play{
    font-size: 30px;
    margin: 0px 15px;
}

.icn-play{
    margin-top: 5px;
    font-size: 18px;
}

.music-line{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.light-grey{
    width: 20%;
    height: 2px;
    color: white;
}

.dark-grey{
    width: 80%;
    height: 2px;
    color: grey;
}

.time{
    margin: -5px 10px;
    color: white;
    font-size: x-small;
}

.icn-footer-end{
    color: white;
    margin-right: 10px;
    font-size: 10px;
}

.light-grey-end{
    width: 5%;
    height: 2px;
    color: white;
    margin-top: 5px;
}

.dark-grey-end{
    width: 20%;
    height: 2px;
    color: gray;
    margin-top: 5px;
}

/* HOVER */
.col:hover .img-col{
    opacity: 0.3;
}

.col:hover .col-play{
    opacity: 1;
    transform: scale(1.1);
}

.button-hover:hover{
    font-size: 15px;
    color: yellow;
    transform: scale(1.1);
}

.text-hover:hover{
    color: white;
    transform: scale(1.1);
}

.text-hover-pink:hover{
    color: rgb(234, 28, 127);
    transform: scale(1.1);
}

.text-hover-play:hover{
    color: yellow;
    transform: scale(1.1);
}

.img-footer-hover:hover{
    transform: scale(1.1);
}

/* MEDIA QUERIES */
@media screen and (max-width: 1279px) and (min-width: 1000px) {
    .information{
        padding-top: 235px;
    }

    .col{
        width: 240px;
    }

    .col-2{
        width: 240px;
    }

    .col-3{
        width: 240px;
    }

    .choices{
        font-size: small;
        gap: 25px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 999px) and (min-width: 965px){
    #content{
        width: auto;
    }
    
    .information{
        padding-top: 235px;
        padding-right: 10px;
    }

    .col{
        width: 240px;
    }

    .col-2{
        width: 240px;
    }

    .col-3{
        width: 240px;
    }

    .choices{
        font-size: small;
        gap: 25px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 964px) {
    .information{
        margin-top: 140px;
        padding-right: 10px;
    }

    .col{
        width: 220px;
    }

    .col-2{
        width: 220px;
    }

    .col-3{
        width: 220px;
    }

    .choices{
        font-size: small;
        gap: 45px;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 699px) {
    header{
        text-align: center;
    }
    
    .information{
        margin-top: 140px;
        padding-right: 10px;
    }

    .title{
        text-align: center;
    }

    .first-row{
        justify-content: center;
        margin: 0px;
    }

    .second-row{
        justify-content: center;
        margin: 0px;
    }

    .third-row{
        justify-content: center;
        margin: 0px;
    }

    .col{
        width: 250px;
    }

    .col-2{
        width: 250px;
    }

    .col-3{
        width: 250px;
    }

    .choices{
        font-size: small;
        gap: 45px;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }

    .col-footer-end{
        justify-content: center;
    }


}